In [1]:
import os

from naas_drivers.tools.googleanalytics import GoogleAnalytics

In [2]:
os.environ['GCP_SERVICE_ACCOUNT_JSON'] = "naas-335023-93670af3d1df.json"
date_ranges = {"start_date": "2021-02-01", "end_date":"2021-12-18"}

In [3]:
ga = GoogleAnalytics(view_id="236707574").connect()

Connect key missing

In [4]:
uv = ga.get_unique_visitors(**date_ranges)

In [5]:
bounce = ga.get_bounce_rate(**date_ranges)

In [6]:
avg_time_on_landing = ga.get_time_landing(landing_path="/", **date_ranges)

In [7]:
pageview = ga.get_pageview(**date_ranges)

In [8]:
country = ga.get_country(**date_ranges)

In [9]:
country

          country  session
0          Canada    685.0
1   United States    197.0
2          France     64.0
3           China     27.0
4        Pakistan     17.0
5         Germany     13.0
6           India     13.0
7  United Kingdom     13.0
8         Ukraine     10.0
9     Philippines      9.0